[submodule "website/submodules/smart_arm_stack"]
	path = website/submodules/smart_arm_stack
	url = https://github.com/SmartArmStack/smart_arm_stack.git
[submodule "website/submodules/smart_arm_stack_ROS2"]
	path = website/submodules/smart_arm_stack_ROS2
	url = https://github.com/SmartArmStack/smart_arm_stack_ROS2.git
[submodule "website/submodules/aisp_ros_control_template"]
	path = website/submodules/aisp_ros_control_template
	url = https://github.com/AISciencePlatform/aisp_ros_control_template.git
[submodule "website/submodules/aisp_ros2_control_template"]
	path = website/submodules/aisp_ros2_control_template
	url = https://github.com/AISciencePlatform/aisp_ros2_control_template.git
